# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# IDEs and editor folders
.vscode/
.idea/

# OS files
.DS_Store

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
